{% extends 'main/base.html' %}
{% load static %}
{% block body_block %}
<!-- Header Ends Here -->	
<!-- Games Page Starts here -->
<div class="games">
	<div class="container">
		<div class="page-path">
			<ul class="path-list">
				<li><a href="/main/">Home</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
				<li class="act">Blog</li>
			</ul>

			<div class="clearfix"></div>
		</div>
		<h3 class="page-header">
			Recent Blogs
		</h3>
		<div class="blog-content">
			<div class="blog-post">
				<h3><a href="/main/single/">Counter-Strike: Global Offensive</a></h3>
				<div class="post-details">
					<p>Posted By <a href="#">Waibiwaibi</a> &nbsp;&nbsp; On <span>15 July, 2021</span> &nbsp;&nbsp; Comments<span>(10)</span></p>
				</div>
				<img src="/static/images/blogcsgo.jpg" alt="">
				<h4>About CS:GO</h4>
				<p>Counter-Strike: Global Offensive (CS: GO) expands upon the team-based action gameplay that it pioneered when it was launched 19 years ago.</p>
				<p>CS: GO features new maps, characters, weapons, and game modes, and delivers updated versions of the classic CS content (de_dust2, etc.).</p>	
				<p>"Counter-Strike took the gaming industry by surprise when the unlikely MOD became the most played online PC action game in the world almost immediately after its release in August 1999," said Doug Lombardi at Valve. "For the past 12 years, it has continued to be one of the most-played games in the world, headline competitive gaming tournaments and selling over 25 million units worldwide across the franchise. CS: GO promises to expand on CS' award-winning gameplay and deliver it to gamers on the PC as well as the next gen consoles and the Mac."</p>
				<nav class="cl-effect-3"><a href="/main/single/">More</a></nav>
			</div>
			<div class="blog-post">
				<h3><a href="/main/single1/">APEX Legends</a></h3>
				<div class="post-details">
					<p>Posted By <a href="#">Jackie</a> &nbsp;&nbsp; On <span>27 June, 2021</span> &nbsp;&nbsp; Comments<span>(5)</span></p>
				</div>
				<img src="/static/images/blogapex.jpg" alt="">
				<h4>Ahout APEX</h4>
				<p>"Apex Heroes" is a tactical competitive game developed by Respawn, the production team of "Titanfall". Released on February 5, 2019. Players will play the role of star warriors on the alien battlefield in the game.</p>
				<p>"Apex Heroes" will land on the Nintendo Switch and Steam platforms in the fall of 2020, and supports PS4/Xbox One/Nintendo Switch/Steam/Origin cross-platform online.</p>
				<p>"Apex Heroes" has a total of 8 legendary characters. Three players form a team. The first season will start in March, and season tickets will be launched. Each season will bring new weapons, characters and skins.</p>
				<nav class="cl-effect-3"><a href="/main/single1/">More</a></nav>
			</div>
			<div class="blog-post">
				<h3><a href="/main/single2/">Rainbow Six</a></h3>
				<div class="post-details">
					<p>Posted By <a href="#">Alejandro</a> &nbsp;&nbsp; On <span>10 June, 2021</span> &nbsp;&nbsp; Comments<span>(1)</span></p>
				</div>
				<img src="/static/images/blograinbow6.jpg" alt="">
				<h4>About Rainbow six</h4>
				<p>"Rainbow Six" is a well-known series of shooting simulation games owned by Ubisoft, with several generations of corresponding works. Its platform includes the host and mobile client. At the same time, the game supports multiplayer online collaboration tasks (Co-Op) or confrontation. The first work was released in August 1998.</p>
				<p>The theme of the game "Rainbow Six" is adapted from the novel of the same name by the late famous military novelist Tom Clancy. The publisher Ubisoft also obtained the exclusive naming rights for all military games under Tom Clancy. . The game describes and plays a multinational cooperative anti-terrorist special force called "Rainbow", which performs various corresponding combat missions from their perspective to combat the harm of terrorism to the world. The name "Rainbow Six" itself is the code name of John Clark, the founder of the "Rainbow" team, according to the description of the original novel.</p>
				<nav class="cl-effect-3"><a href="/main/single2/">More</a></nav>
			</div>
		</div>
		<div class="blog-sidebar">
			<h3 class="page-header">Catgeories</h3>
			<ul class="product-categories color"><li class="cat-item cat-item-42"><a href="#">Shooting</a> <span class="count">(14)</span></li>
				<li class="cat-item cat-item-60"><a href="#">Action</a> <span class="count">(2)</span></li>
				<li class="cat-item cat-item-63"><a href="#">Gloves</a> <span class="count">(2)</span></li>
				<li class="cat-item cat-item-54"><a href="#">Cars</a> <span class="count">(8)</span></li>
				<li class="cat-item cat-item-55"><a href="#">Racing</a> <span class="count">(11)</span></li>
				<li class="cat-item cat-item-64"><a href="#">Sports</a> <span class="count">(3)</span></li>
				<li class="cat-item cat-item-61"><a href="#">Style</a> <span class="count">(3)</span></li>
				<li class="cat-item cat-item-56"><a href="#">Bikes</a> <span class="count">(6)</span></li>
				<li class="cat-item cat-item-57"><a href="#">Zombies</a> <span class="count">(13)</span></li>
				<li class="cat-item cat-item-58"><a href="#">Wressling</a> <span class="count">(7)</span></li>
				<li class="cat-item cat-item-62"><a href="#">Watchers</a> <span class="count">(2)</span></li>
				<li class="cat-item cat-item-41"><a href="#">Women</a> <span class="count">(17)</span></li>
			 </ul>
			<h3 class="page-header">Subscribe</h3>
			<div class="subscribe">
				<h4>Subscribe For News</h4>
				<input type="text" placeholder="Email.." required="" />
				<input type="submit" value="Subscribe" />
			</div>
			<h3 class="page-header">Papular Tags</h3>
			<ul class="tags_links">
					<li><a href="#">Design</a></li>
					<li><a href="#">Branding</a></li>
					<li><a href="#">Art</a></li>
					<li><a href="#">Developing</a></li>
					<li><a href="#">CSS</a></li>
					<li><a href="#">HTML</a></li>
					<li><a href="#">Wordpress</a></li>
					<li><a href="#">Photography</a></li>
			</ul>

		</div>
		<div class="clearfix"></div>
		
	</div>
</div>
<!-- What New Part Endss Here -->
<!-- Footer Starts Here -->
{% endblock %}