{% extends 'main/base.html' %}
{% load static %}
{% block body_block %}
<!-- Header Ends Here -->
<!-- Games Page Starts here -->
<div class="games">
	<div class="container">
		<div class="page-path">
			<ul class="path-list">
				<li><a href="/main/">Home</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
				<li class="act">About</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="blog-content">
			<h3 class="page-header">About us</h3>
			<div class="about-top">
				<img src="/static/images/abt.jpg" alt="">
				<div class="about-details">
					<h4>We are Waibiwaibi</h4>
					<p>Members are:</p>
					<p> 2536382W - Rong Wu</p>
					<p> 2598557G - Yuxin Guo</p>
					<p> 2586762L - Kai Liu</p>
					<p> 2598750X - Yingda Xu</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<h3 class="page-header">What we do</h3>
			<p>Paragraph-1</p>
			<p>Paragraph-2</p>
		</div>
		<div class="blog-sidebar">
			<h3 class="page-header">Top Features</h3>
			<div class="fetures">
				<img src="/static/images/fet.jpg" alt="">
				<div class="caption">
					<a href="#">Play Now</a>
				</div>
			</div>
			<div class="fetures">
				<img src="/static/images/fet2.jpg" alt="">
				<div class="caption">
					<a href="#">Play Now</a>
				</div>
			</div>
			<div class="fetures">
				<img src="/static/images/fet.jpg" alt="">
				<div class="caption">
					<a href="#">Play Now</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- What New Part Endss Here -->

<!-- Footer Starts Here -->

{% endblock %}