{% extends 'main/base.html' %}
{% load static %}
{% block body_block %}
<!-- Header Ends Here -->	
<!-- Games Page Starts here -->
<div class="games">
	<div class="container">
		<div class="page-path">
			<ul class="path-list">
				<li><a href="/main/">Home</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
				<li><a href="/main/games/">Games</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
				<li class="act">Real-Time Strategy</li>
			</ul>

			<div class="clearfix"></div>
		</div>
		<h3 class="page-header">
			List of Real-Time Strategy Games Here
		</h3>
		<div class="main">
                <div class="view view-first">
                    <img src="/static/images/1.jpg" />
                    <div class="mask">
                        <h2>Game Never</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="/main/single/" class="info">Play It</a>
                    </div>
                </div>  
                <div class="view view-first">
                    <img src="/static/images/2.jpg" />
                    <div class="mask">
                        <h2>Online Game</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="/main/single/" class="info">Play It</a>
                    </div>
                </div>  
                <div class="view view-first">
                    <img src="/static/images/3.jpg" />
                    <div class="mask">
                        <h2>Delmen lorem</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="/main/single/" class="info">Play It</a>
                    </div>
                </div>  
          </div>
          <div class="side-bar">
          	<h4>New games</h4>
          	<ul class="game-list">
				<li><a href="/main/shooting/">Shooting</a></li>
				<li><a href="/main/rts/">Real-Time Strategy</a></li>
				<li><a href="/main/action/">Action</a></li>
				<li><a href="/main/racing/">Racing</a></li>
				<li><a href="/main/sports/">Sports</a></li>
				<li><a href="/main/rpg/">Role-Playing</a></li>
				<li><a href="/main/others/">Others</a></li>
          	</ul>
          	<h4>Old games</h4>
          	<ul class="game-list">
				<li><a href="/main/shooting/">Shooting</a></li>
				<li><a href="/main/rts/">Real-Time Strategy</a></li>
				<li><a href="/main/action/">Action</a></li>
				<li><a href="/main/racing/">Racing</a></li>
				<li><a href="/main/sports/">Sports</a></li>
				<li><a href="/main/rpg/">Role-Playing</a></li>
				<li><a href="/main/others/">Others</a></li>
          	</ul>
          </div>
          <div class="clearfix"></div>
	</div>
</div>

<!-- Games Page Ends here -->
<!-- What New Part starts Here -->

<!-- What New Part Endss Here -->
<!-- Footer Starts Here -->
{% endblock %}